<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <center>
        <marquee behavior="left" direction="right"><h2><font color="red"> Welcome to my page,I'll be your guide</font></h2></marquee>
        <p> </p>
        <p><a href="http://127.0.0.1:5000/about-me">Click this for /about-me</a></p>
        <p><b>* * * * * * *</b></p>
        <p><a href="http://127.0.0.1:5000/school">Click this for /school</a></p>
    </center>
</body>
</html>