<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show_BMI</title>
</head>
<body>
    <a href="https://vi.wikipedia.org/wiki/Ch%E1%BB%89_s%E1%BB%91_kh%E1%BB%91i_c%C6%A1_th%E1%BB%83"><b>How is BMI (Body Mass Index) ?</b></a>
    <p> Follow this URL format : /bmi/weight/height(in centimeter)</p>
    <p> BMI&lt;16 : Severely underweight </p>
    <p> 16 &lt;= BMI &lt; 18.5: Underweight</p>
    <p> 18.5 &lt;= BMI &lt; 25: Normal</p>
    <p> 25 &lt;= BMI &lt; 30: Overweight</p>
    <p> BMI &gt; 30: Obese </p>
</body>
</html>