<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About-me</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Gochi+Hand" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="root">
        <center>
            <h2>Téng's profile</h2>
        </center>
        <ol>
            <li><p><b>Name : </b>Hồ Xuân Hoàng Dương ( You can call me Téng )</p></li>
            <li><p><b>Contact : </b>0978.901.454 or <a href="https://www.facebook.com/duong.hoang.142035">facebook</a></p></li>
            <li><p><b>Relationship : </b>Single</p></li>
            <li><p><b>Work : </b>Just graduated university (Maybe a developer in future)</p></li>
            <li><p><b>School : </b><a href="https://www.humg.edu.vn">HUMG(Hanoi University of Mining and geology)</a> and <a href="http://techkids.vn ">Techkids - Coding school </a></p></li>
            <li><p><b>Hobbies : </b>Anime, manga, Cat, Hearthstone, Running</p></li>
            <li><p><b>Asset : </b>3 cats (Trắng, Xám, Cún) </p></li>
        </ol>
    </div>
    
</body>
</html>