<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rivers</title>
</head>
<body>
    <div>
        {% for p in rivers %}
            <div>
                <div>{{ p.continent }}</div>
                <div>{{ p.name }}</div>
                <div>{{ p.length }}</div>
            </div>
            <h2> </h2>
        {% endfor %}
    </div>
</body>
</html>