<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Poor+Story" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/index.css">
    <title>Bike Rental Service</title>
</head>
<body>
    <form action="" method="POST">
        <div>
            <h3>Model</h3><input type="text" name="model" placeholder="e.g.Honda">
            <h3>Daily fee (VND)</h3><input type="text" name="fee" placeholder="10000">
            <h3>Image</h3><input type="text" name="image" placeholder="e.g. http://hondaxemay.com.vn">
            <h3>Year</h3><input type="text" name="year" placeholder="e.g. 2003">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>